input, ul {
    font-size: 32px;
    list-style-type: none;
}

button {
    font-size: 28px;
}

@media (max-width: 1300px) {
    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .buttons .btn {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    input, ul, button {
        font-size: 22px;
    }
}
