p,h1, h3 {
  color:black;
  text-align: center;
}

.loginText {
  color: tomato;
  text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 20px blue;
}

.greeting {
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 20px blue;
}

.loginMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.loginButton {
  position: relative;
  width: 150px;
  /*font-size: 25px;*/
  height: 50px;
  left: calc(50% - 150px/2);
  top: calc(50% - 50px/2);
}

.loginDrawer {
  background-color: whitesmoke;
  color:whitesmoke;
  width: 35%;
}

.mat-icon {
  vertical-align: middle;
}

.hidePasswordButton {
  border: none;
  background-color: transparent;
}

.passwordInput {
  color: black;
}

.mat-form-field {
  color: black;
}
