<div *ngIf="auth.user | async as user; else showLogin" class="text-center">
  <h1 class="greeting mb-4">Hello, {{ user.displayName || 'nameless user' }}!</h1>
  <button (click)="service.logout()"
          class="btn btn-lg btn-danger mb-4">Logout</button>
</div>

<ng-template #showLogin>
  <p class="h2 loginText mb-4">You are not signed in!</p>
  <p class="h2 loginText mb-5">Please, login to continue.</p>

  <mat-drawer-container class="loginMenu" [hasBackdrop]="true">

    <mat-drawer #drawer [mode]="'over'" class="loginDrawer">

      <div class="text-center d-flex flex-column justify-content-center w-100 align-items-center">
        <p class="h4 my-3">Choose method to sign-in</p>
        <button (click)="service.loginGoogle()"
                class="btn btn-lg btn-dark my-3 w-75">Login with Google | <i class="bi bi-google"></i></button>
        <button (click)="showLogEmail = !showLogEmail;showRegEmail = false"
                class="btn btn-lg btn-dark my-3 w-75">Login with e-mail/password | <i class="bi bi-envelope"></i></button>
        <button (click)="showRegEmail = !showRegEmail;showLogEmail = false"
                class="btn btn-lg btn-dark my-3 w-75">Registration</button>
      </div>

      <div *ngIf="showRegEmail || showLogEmail" class="text-center">

        <h3 class="my-4">E-mail</h3>

        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="emailForm" required>
          <mat-error *ngIf="emailForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <h3 class="my-4">Password</h3>

        <mat-form-field appearance="fill" class="passwordInput">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePswd ? 'password' : 'text'"
                 [(ngModel)]="password">
          <button mat-icon-button
                  matSuffix
                  (click)="hidePswd = !hidePswd"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePswd"
                  class="hidePasswordButton">
            <mat-icon>{{hidePswd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="m-3">
          <button class="btn btn-lg btn-primary mx-2"
                  (click)="handleEmailLogin()"
                  *ngIf="showLogEmail">Sign In</button>
          <button class="btn btn-lg btn-primary mx-2"
                  (click)="handleEmailReg()"
                  *ngIf="showRegEmail">Sign Up</button>
        </div>
      </div>

    </mat-drawer>

    <mat-drawer-content>
      <button mat-raised-button (click)="drawer.toggle()"
              class="btn btn-lg btn-dark loginButton">Login <mat-icon>menu</mat-icon></button>
    </mat-drawer-content>

  </mat-drawer-container>

</ng-template>

